/* /universal selector */
*{
    margin: 2%;
}

/* type selector */
body {
    color:aqua;
    background-color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* class selector */

.first {
    color:brown;
}

/* id selector */
#eklist {
    background-color:blanchedalmond;
}

.font {
    color: black ;
}
input[type="text"] {
    color: blue;
}
a[href="http://Upflairs.com"]{
    color:blue;
    font-size:large;
    text-decoration: none;
}
input[type="text"]{

    color: black;
}

/* psuedo selector */
.font:hover{
    color:blue;
}